@import 'tailwindcss';

@theme {
	--font-lora: Lora, sans-serif;

	--color-brand-50: #f1f9f8;
	--color-brand-100: #e2f3f1;
	--color-brand-200: #bfe5e1;
	--color-brand-300: #c2fff9;
	--color-brand-400: #99fff5;
	--color-brand-500: #00b8a5;
	--color-brand-600: #009687;
	--color-brand-700: ##007a6e;
	--color-brand-800: #00665c;
	--color-brand-900: ##005249;
	--color-brand: #009687;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@utility link {
	@apply font-semibold text-amber-700 underline decoration-amber-200 hover:decoration-amber-300;
}

@utility large-text {
	@apply text-base md:text-lg;
}

@utility small-text {
	@apply text-sm;
}

@utility really-small-text {
	@apply text-xs;
}

@utility react-slider-two-thumb {
	@apply m-0 flex h-12 w-full items-center justify-between p-0;
}

@utility react-slider-track {
	@apply h-1 rounded-full bg-amber-200;
}

@utility react-slider-thumb {
	@apply rounded-full bg-amber-500 px-1 py-0.5 text-sm text-white hover:cursor-pointer focus:ring-2 focus:ring-amber-500/50 focus:outline-hidden;
}

@layer base {
	h1 {
		@apply font-lora text-3xl font-bold md:text-4xl;
	}

	h2 {
		@apply font-lora text-2xl font-bold md:text-3xl;
	}

	h3 {
		@apply font-lora text-xl font-bold md:text-2xl;
	}

	h4 {
		@apply font-lora text-lg font-bold md:text-xl;
	}

	p {
		@apply text-sm text-gray-500 md:text-base;
	}
}
